<article class="doc">
  <h1 class="page">{{{or page.title 'Page Not Found'}}}</h1>
  <div class="paragraph">
    <p>The page you&#8217;re looking for does not exist. It may have been moved. You can
      return to the <a href="{{site.url}}/">start page</a>, or follow one of the links in the
      navigation to
      the left.</p>
  </div>
  <div class="paragraph">
    <p>If you arrived on this page by clicking on a link, please notify the owner of the site that the link is
      broken. If you typed the URL of this page manually, please double check that you entered the address
      correctly.</p>
  </div>
</article>
