<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <button class="navbar-burger" aria-label="Navigation bar" data-target="topbar-nav">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <a href="/"><img src="{{uiRootPath}}/img/project-logo.svg" class="navbar-logo" alt="Project logo" height="64px" width="64px"> Fabrice Flore-Thebault, open source technical writer and automator</a>
      </div>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{#if env.SITE_SEARCH_PROVIDER}}
          <div class="navbar-item search hide-for-print">
            <div id="search-field" class="field">
              <input id="search-input" type="text" placeholder="Search"{{#if page.home}}
                     autofocus{{/if}}>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </nav>
</header>
