<!--Security-->
<meta http-equiv="Content-Security-Policy"
      content="base-uri 'none';
        default-src 'self' https://ftp.belnet.be/mirror/FOSDEM/video/2023/D.collab/collab_antora.webm;
        form-action 'none';
        img-src 'self' https://flore-thebault.goatcounter.com/count;
        font-src 'self' https://resources.jetbrains.com https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/ ;
        object-src 'self';
        script-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net/npm/reveal.js;
        style-src 'self' 'unsafe-inline';">
<meta http-equiv="Strict-Transport-Security" content="max-age=63072000; includeSubDomains; preload">
<meta http-equiv="X-Content-Type-Options" content="nosniff">
<meta http-equiv="X-XSS-Protection" content="1 ; mode=block">
<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
<!--Fontawesome-->
<link rel="stylesheet" href="{{uiRootPath}}/fontawesome-free/css/fontawesome.min.css">
<link rel="stylesheet" href="{{uiRootPath}}/fontawesome-free/css/brands.min.css">
<link rel="stylesheet" href="{{uiRootPath}}/fontawesome-free/css/regular.min.css">
<link rel="stylesheet" href="{{uiRootPath}}/fontawesome-free/css/solid.min.css">
<link rel="stylesheet" href="{{uiRootPath}}/fontawesome-free/css/v4-shims.min.css">
<!--Project extra CSS-->
<link rel="stylesheet" href="{{uiRootPath}}/css/extra.css">
<link rel="icon" href="{{uiRootPath}}/img/favicon.ico" type="image/x-icon">
{{#if page.componentVersion.prerelease }}
  <meta name="robots" content="noindex">
{{/if}}
<script>var uiRootPath = '{{uiRootPath}}'</script>
<script data-goatcounter="https://flore-thebault.goatcounter.com/count" async src="{{uiRootPath}}/js/count.js"></script>
